#infobox {
	position: absolute;
	top: 50%;
	left:50%;
	display: block;
	padding: 15px;
	background-color: white;
	transform: translate(-50%, -50%);
}

.dim {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	opacity: .7;
	z-index: 2;
}

